{
    email contactme12314q@gmail.com
}

movierecomendation.duckdns.org {
    encode gzip
    log {
        output file /data/caddy/access.log
        level INFO
    }

    route /grafana* {
        uri strip_prefix /grafana
        reverse_proxy grafana:3000
    }

    reverse_proxy api:8080
}
