{{define "subject"}}Welcome to Movie Recommendation System!{{end}}

{{define "plainBody"}}
Hi {{.name}},

Thanks for signing up for a MRS account. We're excited to have you on board!

Please enter this code {{.activationToken}} in the app to activate your account

Please note that this is a one-time use code and it will expire in 5 minutes.

Thanks,

The MRS Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi, {{.name}}</p>
    <p>Thanks for signing up for a MRS account. We're excited to have you on board!</p>
     <p>Please enter this code {{.activationToken}} in the app to activate your account</p>
    <p>Please note that this is a one-time use code and it will expire in 5 minutes.</p>
    <p>Thanks,</p>
    <p>The MRS Team</p>
</body>

</html>
{{end}}